<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="InfoDAO">

    <select id="selectInfo" parameterType="InfoVO" resultMap="Info">
            SELECT *
            FROM info
            WHERE
                1=1
                AND lang = #{lang}
    </select>

    <resultMap id="Info" type="InfoVO">
        <id property="idx" column="idx"/>
        <result property="pageNm" column="page_nm"/>
        <result property="content" column="content"/>
        <result property="lang" column="lang"/>
    </resultMap>
</mapper>